@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
    background-color: #1a1919;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.main-div {
    font-family: 'Titillium Web';
    color: white;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-div {
    /* margin-top: 50px; */
}

.main-div form {
    width: 35vw;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1c1b1b;
    border-radius: 2vw;
}

.main-div form p {
    font-size: 2.78vw;
    font-weight: bold;
    margin-bottom: 4vh;
}

input {
    margin: 0;
    width: 28vw;
    height: 5vh;
    margin-bottom: 4vh;
    font-size: 20px;
    font-size: 2.6vh;
}

.erro {
    background-color: red;
    width: 400px;
    height: 180px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.erro p {
    text-align: center;
    margin: auto;
    font-size: 12px;
}

.success {
    background-color: green;
    width: 400px;
    height: 180px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.success p {
    font-size: 12px;
    text-align: center;
    margin: auto;
}
